@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --dark-gray: #171515;
    --dark-light: #272626;
    --gold-brown: #6F5B3E;
    --gold: #C4AE78;
    --white: #F9F6F0;
    --pure-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#main{
    margin-top: 3.9rem;
}

.generic_link{
    color: var(--gold);
    text-decoration: none;
}

.generic_link:hover{
    color: var(--gold-brown);
    transition: 0.2s 0.1s;
}

#footer_section{
    max-width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 720px){
    .text_content{
        flex-direction: column;
    }

    .cols_info{
        width: 90vw;
        margin: 0 auto;
    }

    .div_img_contact{
        margin: 0 auto;
    }
}
